<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script type="text/javascript" src="../../../../Scripts/baidu-statistics.js"></script>
    <script type="text/javascript" src="../../../../Scripts/zepto.min.js"></script>
    <script type="text/javascript" src="../../../../Scripts/mui.js"></script>
    <!--<script src="http://yun.kingdee.com/res/js/qingjs.js"></script>-->
    <script type="text/javascript" src="http://wb.weigaoholding.com:8090/res/js/qingjs.js"></script>
    <script type="text/javascript" src="../../../../Scripts/mui.poppicker.js"></script>
    <script type="text/javascript" src="../../../../Scripts/mui.picker.min.js"></script>

    <script type="text/javascript" src="../../../../Scripts/vue.min.js"></script>
    <script type="text/javascript" src="../../../../Scripts/ApprovalUtils.js"></script>
    <script type="text/javascript" src="../../../../Scripts/util.js"></script>
    <script type="text/javascript" src="../../../../Scripts/upload.js"></script>
    <script type="text/javascript" src="../../../../Scripts/upload.detail.js"></script>
    <link rel="stylesheet" href="../../../../Content/mui.min.css" />
    <link rel="stylesheet" href="../../../../Content/mui.picker.min.css" />
    <link rel="stylesheet" href="../../../../Content/mui.poppicker.css" />
    <link rel="stylesheet" href="../../../../Content/upload.css" />
    <link rel="stylesheet" href="../../../../Content/ApprovalUtils.css" />
    <link rel="stylesheet" href="../../../../Content/DoneOrMyApproval.css" />
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <div class="mui-content" style="background-color:white;" id="wrapper">
        <form class="mui-input-group" style="left:0rem;right:0rem;margin-bottom:1rem;padding-bottom:4rem;">
            <div class="mui-input-row" v-for="item in items" v-show="item.show">
                <label>{{item.name}}<i style="color:red;" v-show="item.spanShow">*</i></label>
                <input v-bind:type="item.type" v-bind:id="item.id" v-bind:readonly="item.readonly" v-bind:name="item.id" v-bind:placeholder="item.placeholder" />
            </div>
            <div class="mui-input-row" style="height:auto;" v-for="textmsg in textmsgs" v-show="textmsg.show">
                <label>{{textmsg.name}}<i style="color:red;" v-show="textmsg.spanShow">*</i></label>
                <textarea v-bind:rows="textmsg.rows" v-bind:id="textmsg.id" v-bind:name="textmsg.id" v-bind:readonly="textmsg.readonly" v-bind:placeholder="textmsg.placeholder"> 
                </textarea>
            </div>
        </form>
        <div class="mui-table-view" style="margin-bottom:3.75rem;">
            <div class="mui-table-view-cell  mui-collapse mui-active">
                <a class="mui-navigate-right" href="#" style="background-color:#00a0ea;color:white;font-size:0.75rem;">
                    历史签核意见
                </a>
                <div class="mui-collapse-content">
                    <!--流程列表-->
                    <div class="list">
                        <ul id="signff">
                            <!--<li>
                                <span class="lefttime"><i></i>05-19 08:06</span>
                                <div class="righttext">
                                    <div>
                                        <div class="flowmsg">发起<span>张成林<label class="flowstatus">提交</label></span></div>
                                        <p>签核意见</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <span class="lefttime"><i></i>05-19 08:06</span>
                                <div class="righttext">
                                    <div>
                                        <div class="flowmsg">一审<span>AA<label class="flowstatus">同意</label></span></div>
                                        <p>签核意见</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <span class="lefttime"><i></i>05-19 08:06</span>
                                <div class="righttext">
                                    <div>
                                        <div class="flowmsg">二审<span>BB<label class="flowstatus">同意</label></span></div>
                                        <p>签核意见</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <span class="lefttime"><i></i>05-19 08:06</span>
                                <div class="righttext">
                                    <div>
                                        <div class="flowmsg signadd">加签<span>CC<label class="flowstatus">同意</label></span></div>
                                        <p>签核意见</p>
                                    </div>
                                </div>
                            </li>-->
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <input value="" id="stepId" name="stepId" type="hidden" />
    <input type="hidden" id="flowPerId" name="flowPerId" value="" />
    <input type="hidden" id="processName" name="processName" value="" />
    <input type="hidden" id="noticePer" name="noticePer" value="" />
    <input type="hidden" id="taskId" name="taskId" value="" />

    <script>
        mui.init();
        var v = new Vue({
            el: '#wrapper',
            data: {
                items: [
                    {
                        name: '提报人',
                        id: 'fname',
                        type: 'text',
                        readonly: true,
                        show: true,
                        placeholder: '请填写提报人',
                        spanShow: false
                    },
                    {
                        name: '提报部门',
                        id: 'fdept',
                        type: 'text',
                        readonly: true,
                        show: true,
                        placeholder: '请填写提报部门',
                        spanShow: false

                    },
                    {
                        name: '提报时间',
                        id: 'fdate',
                        type: 'date',
                        readonly: true,
                        show: true,
                        placeholder: '请选中提报时间',
                        spanShow: false

                    },
                    {
                        name: '金额(元)',
                        id: 'fje',
                        type: 'number',
                        readonly: true,
                        show: true,
                        placeholder: '请填写金额(元)',
                        spanShow: true

                    },
                    {
                        name: '收据编号',
                        id: 'fsjbh',
                        type: 'text',
                        readonly: true,
                        show: true,
                        placeholder: '请填写收据编号',
                        spanShow: true

                    },
                    {
                        name: '商户名称',
                        id: 'fshmc',
                        type: 'text',
                        readonly: true,
                        show: true,
                        placeholder: '请填写商户名称',
                        spanShow: true

                    }

                ],
                textmsgs: [

                    {
                        name: '备注内容',
                        id: 'fbz',
                        rows: '3',
                        readonly: true,
                        show: true,
                        placeholder: '请填写备注内容',
                        spanShow: true

                    }
                ]
            },
            methods: {
                getTaskMsg: function () {


                    var url = window.location.href;
                    if (url != null && url.indexOf("tid") != -1) {

                        taskId = url.split("tid=")[1];


                    } else {
                        mui.toast("网络异常,请稍后重试");
                        history.go(-1);

                    }
                    itemidArr = new Array();

                    $.ajax({
                        type: "get",
                        url: "/api/bpm/GetTaskData",
                        data: { 'taskId': taskId },

                        beforeSend: function (XHR) {
                            XHR.setRequestHeader('Authorization', 'Basic ' + localStorage.getItem('ticket'));
                        }
                    }).done(function (data) {
                        console.log(data);

                        var item = data.FormDataSet.BPM_SXSGNYFWYCZLZ[0];
                        $("#taskId").val(item.TaskID);

                        $("#fname").val(item.fname);
                        $("#fdept").val(item.fdept);
                        $("#fdate").val(FormatterTimeYMS(item.fdate));
                        $("#fje").val(item.fje);
                        $("#fsjbh").val(item.fsjbh);
                        $("#fshmc").val(item.fshmc);
                        $("#fbz").val(item.fbz);
                        for (var i = 0; i < data.Steps.length; i++) {

                            if (data.Steps[i].FinishAt == "0001-01-01T00:00:00") {
                                data.Steps[i].FinishAt = "";
                            }
                            var time = FormatterTime(data.Steps[i].FinishAt);

                            var stepName = data.Steps[i].NodeName;
                            if (data.Steps[i].NodeName == "sysInform") {
                                stepName = "知会";
                            } else if (data.Steps[i].NodeName == "sysTaskOpt") {
                                stepName = "任务操作";
                            } else if (data.Steps[i].NodeName == "开始") {
                                stepName = "开始";
                            }

                            var stepAction = locationAction(data.Steps[i].SelAction);
                            if (data.Steps[i].SelAction == "sysInform") {
                                stepAction = "发起知会";
                            } else if (data.Steps[i].SelAction == "Submit") {
                                stepAction = "已阅";
                            } else if (data.Steps[i].SelAction == "null" || data.Steps[i].SelAction == null) {
                                stepAction = "待处理";
                            } else if (data.Steps[i].SelAction == "sysReject") {
                                stepAction = "拒绝";
                            } else if (data.Steps[i].SelAction == "sysRecedeRestart") {
                                stepAction = "退回重填";
                            }


                            var contents = data.Steps[i].Comments;
                            if (contents == null) {
                                contents = "无";
                            }
                            //判断是否是加签
                            if (data.Steps[i].IsConsignStep == false) {
                                var li = ' <li>';
                                li = li + '  <span class="lefttime"><i></i>' + time + '</span>';
                                li = li + '  <div class="righttext">';
                                li = li + '     <div>';
                                li = li + '        <div class="flowmsg">' + stepName + '<span>' + data.Steps[i].RecipientFullName + '</span></div>';
                                li = li + '        <label class="flowstatus">' + stepAction + '</label>';
                                li = li + '        <p>签核意见: ' + contents + '</p>';
                                li = li + '     </div>';
                                li = li + '   </div>';
                                li = li + '</li>';

                            } else {
                                var li = ' <li>';
                                li = li + '  <span class="lefttime"><i></i>' + time + '</span>';
                                li = li + '  <div class="righttext">';
                                li = li + '     <div>';
                                li = li + '        <div class="flowmsg signadd">加签<span>' + data.Steps[i].RecipientFullName + '</span></div>';
                                li = li + '        <label class="flowstatus">' + stepAction + '</label>';
                                li = li + '        <p>签核意见: ' + contents + '</p>';
                                li = li + '     </div>';
                                li = li + '   </div>';
                                li = li + '</li>';

                            }
                            $("#signff").append(li);
                        }




                    }).fail(function (e) {

                    });
                }

            }

        });
        mui.ready(function () {
            v.getTaskMsg();

        });
        XuntongJSBridge.call('setWebViewTitle', { 'title': '审批详情' });

        XuntongJSBridge.call('createPop', {
            'popTitle': '',
            'popTitleCallBackId': '1',
            'items': [
                { 'text': '知会', 'callBackId': 'callback1' },
                { 'text': '刷新', 'callBackId': 'callback2' }

            ],
            'menuList': [
                'openWithBrowser'
            ],

        }, function (result) {
            if (result.success == true || result.success == 'true') {
                var callBackId = result.data ? result.data.callBackId : '';
                if (callBackId == 'callback1') {

                    XuntongJSBridge.call('selectPersons', { 'isMulti': 'true', 'pType': '1' }, function (result) {



                        noticeOpenIdArr = new Array();
                        if (result.success == true || result.success == "true") {

                            for (var i = 0; i < result.data.persons.length; i++) {

                                noticeOpenIdArr.push(result.data.persons[i].openId);

                            }
                            $("#noticeOpenId").val(noticeOpenIdArr);
                            //知会

                            $.ajax({
                                type: "POST",
                                url: "/api/bpm/PostAccount",
                                data: { "ids": noticeOpenIdArr },
                                beforeSend: function (XHR) {
                                    XHR.setRequestHeader('Authorization', 'Basic ' + localStorage.getItem('ticket'));

                                }, success: function (data, status) {

                                    if (status == "success") {
                                        var accounts = new Array();
                                        var accName = new Array();
                                        for (var i = 0; i < data.data.length; i++) {
                                            accounts.push((String)(data.data[i].phone));
                                            accName.push(data.data[i].name);
                                        }
                                        //alert(JSON.stringify({ 'taskID': taskId, 'comments': '', 'accounts': accounts }));

                                        var btnArry = ["取消", "确定"];
                                        mui.confirm('将知会下列人员:' + accName, '知会通知', btnArry, function (e) {
                                            if (e.index == 1) {
                                                $.ajax({
                                                    type: "POST",
                                                    url: "/api/bpm/PostInform",
                                                    data: { 'taskID': taskId, 'comments': '', 'accounts': accounts },
                                                    dataType: "json",
                                                    beforeSend: function (XHR) {

                                                        XHR.setRequestHeader('Authorization', 'Basic ' + localStorage.getItem('ticket'));

                                                    },
                                                    success: function (data, status) {

                                                        if (status == "success") {
                                                            mui.toast("知会成功");
                                                        }
                                                    }, error: function (e) {
                                                        //console.log(e);

                                                    },
                                                    complete: function () { }


                                                });
                                            } else {

                                            }
                                        });


                                    }
                                }, error: function (e) {

                                }, complete: function () { }


                            });


                        }



                    });

                } else if (callBackId == 'callback2') {
                    window.location.reload();
                } else {

                }
            }

        });

    </script>
</body>
</html>