html, body {
    font-size: 20px;
    background-color: white;
    height: 100%;
    overflow: auto;
}
.itemborder {
    /*margin-top:0.4rem;*/
    border: groove;
    border-color: #5191FD;
    border-width: 0.01rem;
}

.itemlabel {
    background-color: #fea900;
}

.itemtitle {
    color: white;
    background-color: #5191FD;
}
.itemtitle2 {
    color: white;
    background-color: #FD8A21;
}

#signbody {
    display: none;
}

#signPer {
    padding-top: 0.2rem;
    line-break: auto;
    white-space: normal;
    padding-left: 0rem;
}


label {
    font-size: 0.65rem;
}

textarea {
    height: auto;
    overflow: auto;
    font-size: 0.65rem;
}

a {
    font-size: 0.65rem;
}
input {
    font-size:0.65rem;
}

.mui-bar {
    -webkit-box-shadow: none;
    box-shadow: none;
}

#done.mui-disabled {
    color: gray;
}

li {
    font-size: 0.65rem;
}

.adl {
    background-color: #fea900;
}

.bgc {
    color: white;
    background-color: #6BA2D0;
}
.bgl {
    color: white;
    background-color: #D55511;
}
.adjla {
    /*margin-top:0.4rem;*/
    border: groove;
    border-color: #5191FD;
    border-width: 0.01rem;
}
.itemcontenttitle {
    color: white;
    background-color: #5BC254;
}
.illustration_context {
    text-align: center;
    font-size: 0.5rem;
}

.bottomborder {
    border: dashed;
    border-width: 0rem 0rem 0.02rem 0rem;
}

.illustration_context_extra {
    font-size: 0.3rem;
}
#signd div  > button {
   width:40%;
   height:2rem;
}


#createD {
    padding-top: 0.2rem;
    padding-bottom: 0.1rem;
    z-index: 999;
    bottom: 0rem;
    position: fixed;
    width: 100%;
    display: none;
    background-color: white;
    
}
#commitbt {
    width: 100%;
    height: 2.3rem;
    font-size: 0.8rem;
    border-radius:1rem;
}
#approvalD {
    padding-top:0.2rem;
    padding-bottom:0.1rem;
    z-index: 999;
    bottom: 0rem;
    position: fixed;
    width: 100%;
    display: none;
    background-color:white;
}
#agreebt {
    height: 2.3rem;
    font-size: 0.8rem;
    border-radius: 1rem;
}
#disagreebt {
    height: 2.3rem;
    font-size: 0.8rem;
    border-radius: 1rem;
}
#refusebt {
    height: 2.3rem;
    font-size: 0.8rem;
    border-radius: 1rem;
}
.roundbt {
    height: 2.3rem;
    font-size: 0.8rem;
    border-radius: 1rem;
}
#readD {
    padding-top: 0.2rem;
    padding-bottom: 0.1rem;
    z-index: 999;
    bottom: 0rem;
    position: fixed;
    width: 100%;
    display: none;
    background-color: white;
}
#readbt {
    height: 2.3rem;
    font-size: 0.8rem;
    width: 100%;
    border-radius: 1rem;
}
#pickbackbt {
    margin-top: 0.5rem;
    margin-bottom:0.25rem;
  
}
#pickupbt {
    margin-bottom: 0.25rem;
}
#SaveD {
    padding-top: 0.2rem;
    padding-bottom: 0.1rem;
    z-index: 999;
    bottom: 0rem;
    position: fixed;
    width: 100%;
    background-color: white;
}

#ssd {
    height: auto;
    font-size: 0.8rem;
    border: groove;
    border-width: 0.1rem;
    border-radius:1rem;
    margin-left:0.2rem;
    margin-right:0.2rem;
    margin-top:1rem;
}
.col-div-adjust-forInput {
   height:2rem;
}
.h5-adjust-forInput {
    height:1.6rem;
    padding-top:0.4rem;
}
.cutOffLine {
  border:outset;
  border-width:0.05rem;
  
}